**

!.dockerignore
!Dockerfile
!requirements.txt
!main.py
!alembic.ini

!app/
!app/**

!alembic/
!alembic/**

!docker/
!docker/**

!scripts/
scripts/*
!scripts/__init__.py
!scripts/navigation/
!scripts/navigation/**

!storage_files/
!storage_files/**
